@import '../../index.scss';

.app-cart {
	.cart-toggler {
		background-color: $white;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		position: fixed;
		display: grid;
		place-items: center;
		right: 15px;
		bottom: 75px;
		cursor: pointer;
		z-index: 98;
		box-shadow: 2px 2px 10px $gray1;
		transition: 200ms;

		&:hover {
			transform: scale(1.1);
		}

		.cart-icon {
			color: $pink;
			width: 50%;
			height: 50%;
		}

		.quantity-peek {
			display: grid;
			place-items: center;
			border-radius: 50%;
			position: absolute;
			background-color: $lightorange;
			color: $white;
			font-family: $font2-bold;
			font-size: 0.85rem;
			width: 51%;
			height: 51%;
			top: -7px;
			right: -5px;
		}
	}

	.cart {
		background-color: $gray2;
		height: 90vh;
		width: 85vw;
		// padding: 0 15px;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 112;
		border: 1px solid $pink;
		// box-shadow: 0px 0px 0px 250px rgba(17, 17, 17, 0.85);
		display: flex;
		flex-direction: column;
		border-radius: 25px;

		& > * {
			padding: 0 15px;
		}

		.cart-header,
		.cart-footer {
			flex: 1;
		}
		.cart-body {
			flex: 7;
			overflow-y: scroll;
		}

		// .cart-header {
		// 	border-bottom: 1px solid $lightpink;
		// }
		// .cart-footer {
		// 	border-top: 1px solid $lightpink;
		// }

		.cart-body .submission-view {
			height: 100%;

			.btn {
				padding: 5px 30px;
				border-radius: 15px;
			}
		}
	}

	.backdrop {
		position: fixed;
		z-index: 111;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(17, 17, 17, 0.95);
	}
}

@media only screen and (min-width: 600px) {
	.app-cart {
		.cart-toggler {
			right: 20px;
			bottom: 20px;
		}

		.cart > * {
			padding: 0 25px;
		}

		.cart .cart-body {
			flex: 8;
		}
	}
}

@media only screen and (min-width: 800px) {
	.app-cart {
		.cart-toggler {
			transform: scale(1.35);
			right: 45px;
			bottom: 45px;
		}

		.cart {
			border-radius: 45px;

			.cart-body {
				flex: 9;
			}

			.cart-display {
				padding: 20px 0;
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-gap: 20px;
				align-items: center;
			}

			& > * {
				padding: 0 30px;
			}
		}
	}
}

@media only screen and (min-width: 1280px) {
	.app-cart {
		.cart-toggler {
			transform: scale(1);
			right: 25px;
			bottom: 25px;
		}

		.cart {
			border-radius: 25px;

			.cart-body {
				flex: 7;

				&::-webkit-scrollbar {
					display: none;
				}
			}

			.cart-display {
				grid-template-columns: 1fr 1fr 1fr;
			}

			& > * {
				padding: 0 35px;
			}
		}
	}
}

@media only screen and (min-width: 1366px) {
	.app-cart {
		.cart {
			width: 75vw;

			.cart-body {
				flex: 6;
			}
		}
	}
}

@media only screen and (min-width: 1440px) {
	.app-cart {
		.cart {
			width: 75vw;

			.cart-body {
				flex: 8;
			}
		}
	}
}

@media only screen and (min-width: 1600px) {
	.app-cart {
		.cart-toggler {
			transform: scale(1.25);
			right: 45px;
			bottom: 40px;
		}

		.cart .cart-body {
			flex: 9;
		}
	}
}

@media only screen and (min-width: 1920px) {
	.app-cart {
		.cart .cart-display {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}
