@import '../index.scss';

.about-page {
	color: $pink;
	// background: #313131;
	// width: 100vw;

	span {
		font-weight: bold;
		text-transform: capitalize;
	}

	.pink {
		color: $pink;
	}

	.beige {
		color: $beige;
	}

	.orange {
		color: $orange;
	}

	.watermark {
		display: none;
	}

	.info-paragraphs {
		height: 80%;
		// background: #393939;
	}

	.info {
		margin-bottom: 30px;

		.text-title {
			font-size: 1.7rem;
			color: #fff;
			text-transform: capitalize;
			font-weight: 600;
		}

		.text {
			color: $white;
			font-family: $font3;
		}
	}
}

@media only screen and (min-width: 600px) {
	.about-page {
		.info {
			.text-title {
				font-size: 2rem;
			}

			.text {
				font-size: 1.4rem;
			}
		}
	}
}

@media only screen and (min-width: 800px) {
	.about-page {
		.info {
			.text-title {
				font-size: 2.5rem;
			}

			.text {
				font-size: 2rem;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.about-page {
		.info {
			margin-bottom: 70px;
		}
	}
}

@media only screen and (min-width: 1280px) {
	.about-page {
		.watermark {
			// display: block;
			$color: #fff;
			position: fixed;
			opacity: 0.05;
			// pointer-events: none;

			&.logo {
				font-size: 20rem;
				font-family: $logo-font;
				font-weight: bold;
				top: 0px;
				right: 10px;
				color: $color;
			}

			&.circle {
				$circleDiam: 300px;
				width: $circleDiam;
				height: $circleDiam;
				border-radius: 50%;
				top: -40px;
				left: -120px;
				border: 60px solid;
				color: $color;
			}

			&.square {
				$squareDiam: 300px;
				width: $squareDiam;
				height: $squareDiam;
				bottom: -130px;
				left: -120px;
				border: 60px solid;
				color: $color;
			}
		}

		.info-paragraphs {
			width: 75%;
			margin-left: 30px;
		}

		.info {
			.text-title {
				font-size: 1.7rem;
				margin-bottom: 5px;
			}

			.text {
				font-size: 1.3rem;
			}
		}
	}
}
