@import '../index.scss';

.contact-page {
	.contact-form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 50px;
		height: 525px;
	}

	textarea {
		background: $gray2;
		color: $lightbeige;
		width: 95%;
		height: 50%;
		border-radius: 5px;
		padding: 10px;
		outline: none;
		border: none;
		letter-spacing: 1px;
		font: {
			weight: bold;
			family: $font3;
			size: 1rem;
		}
		transition: 100ms;

		&:focus,
		&:valid {
			border-bottom: 2px solid $beige;
		}
	}

	.btn {
		padding: 5px 25px;
		border-radius: 10px;
		font-family: $font1-bold;
		text-transform: uppercase;
		background: $pink;
		color: $white;
		font-weight: bold;
		border: none;
		outline: none;
		transition: 150ms;

		&.submit-btn {
			opacity: 0;
			// transform: translateY(-50px);
		}

		&.submit-btn:hover {
			transform: scale(1.05);
			cursor: pointer;
		}

		&:active {
			border: 1px solid $white;
		}

		&.disabled {
			background-color: #999;
			pointer-events: none;
		}
	}

	.content-container {
		// height: 82vh;
		margin-bottom: 50px;
	}

	svg.watermark {
		display: none;
	}
}

@media only screen and (min-width: 414px) {
	.contact-page {
		.contact-form {
			height: 650px;
			margin-bottom: 170px;
		}
	}
}

@media only screen and (min-width: 600px) {
	.contact-page {
		// margin-top: 85px !important;
		.content-container {
			margin-bottom: 110px;
			height: 78vh;
		}

		textarea {
			font-size: 1.5rem;
		}

		.btn {
			padding: 10px 30px;
			font-size: 1.2rem;
			border-radius: 15px;

			&:hover {
				cursor: pointer;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.contact-page {
		margin-top: 90px !important;

		textarea {
			font-size: 1.3rem;
		}
	}
}

@media only screen and (min-width: 1280px) {
	.contact-page {
		.contact-form {
			display: grid;
			position: relative;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: repeat(3, 1fr);

			.app-input {
				width: 85%;
			}
		}

		.content-container {
			width: 95%;
			// height: 65vh;
			margin: 0 auto;
			margin-top: -50px;
			margin-bottom: 140px;
		}

		textarea {
			align-self: center;
			justify-self: center;
			grid-row: 1 / -1;
			grid-column: 2;
			width: 100%;
			height: 80%;
			padding: 15px;
			font-size: 1.2rem;
		}

		.btn {
			padding: 10px 50px;
			justify-self: center;

			&.submit-btn,
			&.disabled {
				position: absolute;
				bottom: -50px;
			}
		}

		svg.watermark {
			display: inline;
		}
	}
}

@media only screen and (min-width: 1440px) {
	.contact-page {
		.contact-form textarea {
			font-size: 1.5rem;
		}

		.content-container {
			height: 100vh;
			margin-top: -70px;
			margin-bottom: 250px;
		}

		.btn.submit-btn {
			bottom: -250px;
			font-size: 1.5rem;
		}
	}
}

@media only screen and (min-width: 1536px) {
	.contact-page {
		.btn.submit-btn {
			bottom: -100px;
		}
	}
}
@media only screen and (min-width: 1920px) {
	.contact-page {
		.content-container {
			height: 80vh;
		}

		.btn.submit-btn {
			bottom: -130px;
		}
	}
}
