@import '../index.scss';

.home-page {
	height: 100vh;
	background-image: url('../assets/images_global/landingPageBg.jpg');
	background-size: cover;

	.decorations {
		background-image: linear-gradient(-45deg, $pink 0%, $orange 100%);
		width: 75%;
		height: 50%;
		border-bottom-right-radius: 100px;
		position: relative;
	}

	.page-content {
	}

	.app-logo {
		font-family: $logo-font;
	}

	img {
		width: 150px;
		height: 150px;
	}
}
