@import '../index.scss';

.home-page {
	height: 100vh;
	background-image: url('../assets/images_global/landingPageBg.jpg');
	background-size: cover;

	.decorations {
		background-image: linear-gradient(-45deg, $pink 0%, $orange 100%);
		width: 70%;
		height: 50%;
		border-bottom-right-radius: 110px;
		position: relative;

		img {
			position: absolute;
			// setting a default size
			transform: scale(0.5);
			top: 0;
			left: 0;
		}

		.small-salad {
			transform: scale(0.2);
			bottom: 50%;
			left: -150px;
		}

		.platter-tacos {
			transform: scale(0.45);
		}

		.fish-grill {
			transform: scale(0.3);
		}

		.large-meal {
			transform: scale(0.15);
		}
	}

	.app-logo {
		font-family: $logo-font;
	}
}
