@import '../index.scss';

.home-page {
	height: 100vh;
	background-image: url('../assets/images_global/landingPageBg.jpg');
	background-size: cover;

	.decorations {
		background-image: linear-gradient(-45deg, $pink 0%, $orange 100%);
		width: 70%;
		height: 50%;
		border-bottom-right-radius: 110px;
		position: relative;

		img {
			position: absolute;
			// setting a default size
			transform: scale(0.5);
			top: 0;
			left: 0;
			display: none;
		}

		.small-salad {
			transform: scale(0.2);
			top: -49%;
			left: -100%;
		}

		.platter-tacos {
			transform: scale(0.45);
		}

		.fish-grill {
			transform: scale(0.3);
			right: -100%;
		}

		.large-meal {
			transform: scale(0.15);
			top: -33%;
			left: -112%;
		}
	}

	.page-content {
		// border: 1px solid white;
		height: 45%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;

		.app-logo {
			font-family: $logo-font;
			font-size: 3.5rem;
		}

		.app-description {
			font-family: $font1-semibold;
			color: $white;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			height: 40%;
		}

		.app-btns .btn-secondary {
			padding: 5px 15px;
			margin-left: 25px;
		}
	}
}

@media only screen and (min-width: 414px) {
	.home-page {
		.page-content {
			.app-logo {
				font-size: 4rem;
			}

			.app-description {
				font-size: 1.25rem;
			}
		}
	}
}

@media only screen and (min-width: 600px) {
	.home-page {
		background: $gray1;

		.decorations {
			background: transparent;
			pointer-events: none;
			position: relative;
			z-index: 1;

			.large-meal,
			.small-salad {
				transform: scale(1);
				display: block;
				opacity: 0.2;
				top: 0;
				left: 0;
			}

			.large-meal {
				top: auto;
				left: auto;
				bottom: -100%;
				right: -110%;
			}

			.small-salad {
				top: -40%;
				left: -50%;
			}
		}

		.page-content {
			position: relative;
			opacity: 1;
			margin-top: -60%;
			height: 60vh;
			justify-content: space-between;
			z-index: 2;

			.app-logo {
				font-size: 6.5rem;
			}

			.app-description {
				font-size: 2rem;
				font-family: $font1;
			}

			.app-btns {
				margin-top: 20px;

				.btn-secondary {
					padding: 10px 25px;
				}
			}
		}
	}
}
