@import '../index.scss';

.table-booking-page {
	margin-bottom: 155px;

	.page-title {
		width: 90%;
	}

	.details-input {
		// border: 1px solid #fff;
		height: 75vh;
		// margin-bottom: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}

	svg.watermark {
		display: none;
	}
}

@media only screen and (min-width: 414px) {
	.table-booking-page {
		margin-bottom: 220px;

		.page-title {
			width: 75%;
		}
	}
}

@media only screen and (min-width: 600px) {
	.table-booking-page {
		margin-bottom: 210px;

		.page-title {
			width: 50%;
		}
	}
}

@media only screen and (min-width: 768px) {
	.table-booking-page {
		.page-title {
			width: 40%;
		}
	}
}

@media only screen and (min-width: 800px) {
	.table-booking-page {
		margin-bottom: 300px;

		.page-title {
			width: 50%;
		}

		svg.watermark {
			display: inline;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.table-booking-page {
		// margin-bottom: 320px;

		.details-input {
			width: 85%;

			margin: 0 auto;
		}
	}
}

@media only screen and (min-width: 1280px) {
	.table-booking-page {
		// margin-bottom: 0;

		.details-input {
			margin-top: -70px;
			width: 90%;
			// border: 1px solid White;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(3, 1fr);
			justify-items: center;

			.btn {
				grid-column: 1 / -1;
			}
		}
	}
}
