@import '../index.scss';

@media only screen and (min-width: 600px) {
	.btn {
		padding: 10px 30px;
		font-size: 1.2rem;
		border-radius: 15px;

		&:hover {
			cursor: pointer;
		}
	}
}

@media only screen and (min-width: 1280px) {
	.btn {
		padding: 10px 25px;
	}
}

@media only screen and (min-width: 1280px) {
	.btn {
		font-size: 1.5rem;
	}
}
