@import '../index.scss';

nav {
	background: $gray2;
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 8vh;
	display: flex;
	align-items: center;
	font-family: $font1;
	z-index: 98;

	.active-link {
		color: $beige;
		border-bottom: 3px solid $orange;
		font-weight: bold;

		&::after {
			display: none !important;
		}
	}

	ul {
		display: flex;
		list-style: none;
		justify-content: space-between;
		align-items: center;
		font-weight: 600;
	}

	li a {
		text-decoration: none;
		text-transform: uppercase;
		color: #fff;
		padding: 0;
		transition: 150ms;
	}

	li.route-link a {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			height: 3px;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			background: $orange;
			transition: 150ms;
		}

		&:hover::after {
			width: 100%;
		}
	}

	li.home-link a {
		font-family: $logo-font;
		font-size: 1.5rem;
	}
}

@media only screen and (min-width: 1280px) {
	nav {
		position: fixed;
		top: 0;
		z-index: 1;
		height: 10vh;

		li {
			font-size: 1rem;
		}

		li.home-link a {
			font-size: 2em;
			font-weight: bold;
		}
	}
}
