@import '../index.scss';

.opening {
	background-color: #222;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 99999;

	.app-title {
		font-family: $logo-font;
		font-weight: bold;
		font-size: 4rem;
	}

	.disclaimer {
		font-family: $font1-bold;
		text-transform: uppercase;
		font-size: 2rem;
		color: $beige;
	}

	.la2 {
		position: relative;
	}

	.overlay {
		background: $pink;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: translateX(100%);
	}
}

@media only screen and (min-width: 600px) {
	.opening {
		.app-title {
			font-size: 6rem;
		}

		.disclaimer {
			font-size: 3rem;
		}
	}
}

// @media only screen and (min-width: 1024px) {
// 	.opening {
// 		.app-title {
// 			font-size: 8rem;
// 		}

// 		.disclaimer {
// 			font-size: 4rem;
// 		}
// 	}
// }
