@import '../index.scss';

.page-title {
	width: 53%;
	position: relative;
	margin: 15px 0;
	text-transform: uppercase;
	overflow: hidden;
	color: $pink;

	.title-text {
		font-size: 2rem;
		// font-family: $font1-bold;
		font-family: $logo-font;
	}

	& > span.bottom-border {
		position: absolute;
		bottom: 5px;
		left: 0;
		background: $beige;
		width: 50%;
		height: 4px;
	}
}

@media only screen and (min-width: 600px) {
	.page-title {
		margin-top: 70px;
		// margin-bottom: 35px;
		width: 32%;
	}
}

@media only screen and (min-width: 768px) {
	.page-title {
		margin-top: 80px;
	}
}

@media only screen and (min-width: 800px) {
	.page-title {
		margin-top: 90px;
	}
}

@media only screen and (min-width: 1024px) {
	.page-title {
		.title-text {
			font-size: 2.5rem;
		}
		margin-bottom: 50px;
	}
}

@media only screen and (min-width: 1280px) {
	.page-title {
		margin-top: 90px;
		margin-bottom: 50px;

		.title-text {
			font-size: 2rem;
		}

		& > span.bottom-border {
			width: 30%;
			height: 4px;
		}
	}
}

@media only screen and (min-width: 1440px) {
	.page-title {
		margin-top: 120px;

		.title-text {
			font-size: 3rem;
		}

		span.bottom-border {
			width: 30%;
		}
	}
}
