@import './index.scss';

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: $gray1;
	font-family: $font1;
	color: #eee;
	overflow-x: hidden;
}

// classes
.logo-grad {
	background: -webkit-linear-gradient(to right, $orange 0%, $pink 100%);
	background: -moz-linear-gradient(to right, $orange 0%, $pink 100%);
	background: linear-gradient(to right, $orange 0%, $pink 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.wrapper {
	width: 85%;
	margin: 0 auto;
}

@media only screen and (min-width: 600px) {
	body {
		margin-top: 5vh;
	}
}

@media only screen and (min-width: 1280px) {
	body {
		margin-top: 8vh;
	}
}
