@import './index.scss';

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: $gray1;
	font-family: $font1;
	color: #eee;
	overflow-x: hidden;
}

html {
	overflow-x: hidden;
}

// classes
.logo-grad {
	background: -webkit-linear-gradient(to right, $orange 0%, $pink 100%);
	background: -moz-linear-gradient(to right, $orange 0%, $pink 100%);
	background: linear-gradient(to right, $orange 0%, $pink 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.wrapper {
	width: 85%;
	margin: 0 auto;
}

.btn {
	padding: 5px 20px;
	border-radius: 10px;
	font-family: $font1-bold;
	text-transform: uppercase;
	background: $pink;
	color: $white;
	font-weight: bold;
	border: none;
	outline: none;
	transition: 150ms;

	&:hover {
		transform: scale(1.05);
		cursor: pointer;
	}

	&.submit-btn {
		opacity: 0;
		transform: translateY(-50px);
	}

	&:active {
		transform: translateY(5px) scale(1.05);
	}

	&.disabled {
		background-color: #999;
		pointer-events: none;
	}

	&.btn-secondary {
		background-color: $white;
		color: $pink;
	}
}

@media only screen and (min-width: 600px) {
	body {
		// margin-top: 5vh;
	}
}

@media only screen and (min-width: 1280px) {
	body {
		// margin-top: 8vh;

		.btn {
			// padding: 5px 20px;
			font-size: 1.15rem;
		}
	}
}

@media only screen and (min-width: 1920px) {
	body .btn {
		font-size: 1.25rem;
	}
}
