@import './index.scss';

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: $gray1;
	font-family: $font1;
	color: #eee;
	overflow-x: hidden;
}

@media only screen and (min-width: 1280px) {
	body {
		// margin-top: 110px;
	}
}

@media only screen and (min-width: 1440px) {
	body {
		// margin-top: 150px;
	}
}
