// fonts
$fallback-fonts: 'Poppins', Arial, Helvetica, sans-serif;

$logo-font: 'Atma', $fallback-fonts;

$font1: 'Poppins', $fallback-fonts;
$font2: 'PT Sans Caption', $fallback-fonts;
$font3: 'Nunito', $fallback-fonts;

// colors
$gray1: #333;
$gray2: #444444;
$gray3: #555555;

$pink: #ff5c5c;
$orange: #ff6825;
$beige: #f4e0b6;
$lightpink: #ff7979;
$lightorange: #ff834d;

// classes
.logo-grad {
	background: -webkit-linear-gradient(to right, $orange 0%, $pink 100%);
	background: -moz-linear-gradient(to right, $orange 0%, $pink 100%);
	background: linear-gradient(to right, $orange 0%, $pink 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.wrapper {
	width: 85%;
	margin: 0 auto;
}
