@font-face {
	font-family: 'Poppins';
	src: url('./assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype'),
		url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype'),
		url('./assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Nunito';
	src: url('./assets/fonts/Nunito/Nunito-Bold.ttf') format('truetype'),
		url('./assets/fonts/Nunito/Nunito-Regular.ttf') format('truetype'),
		url('./assets/fonts/Nunito/Nunito-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'PT Sans Caption';
	src: url('./assets/fonts/PT_Sans_Caption/PTSansCaption-Bold.ttf')
			format('truetype'),
		url('./assets/fonts/PT_Sans_Caption/PTSansCaption-Regular.ttf')
			format('truetype');
}

@font-face {
	font-family: 'Atma';
	src: url('./assets/fonts/Atma/Atma-SemiBold.ttf') format('truetype');
}

// fonts
$fallback-fonts: Tahoma, Arial, Helvetica, sans-serif;

$logo-font: 'Atma', $fallback-fonts;

$font1: 'Poppins', $fallback-fonts;
$font2: 'PT Sans Caption', $fallback-fonts;
$font3: 'Nunito', $fallback-fonts;

// colors
$gray1: #303030;
$gray2: #444444;
$gray3: #555555;

$pink: #ff5c5c;
$orange: #ff6825;
$beige: #f4e0b6;
$lightbeige: #f8eac7;
$lightpink: #ff7979;
$lightorange: #ff834d;

$white: #faf8f0;

// classes
.logo-grad {
	background: -webkit-linear-gradient(to right, $orange 0%, $pink 100%);
	background: -moz-linear-gradient(to right, $orange 0%, $pink 100%);
	background: linear-gradient(to right, $orange 0%, $pink 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.wrapper {
	width: 85%;
	margin: 0 auto;
}
